body {
padding:0;
margin:0;

}
.container {
	width:100%;
}
.wrapper {
	width:960px;
	margin:0 auto;
}
header {
	width:100%;
	background: url(../img/header-bg.jpg) repeat;
}
.logo {
	display:inline-block;
	font-family: 'BallparkWeiner';
	font-size:36px;
	color:#e0e0e0;
	margin:8px 0 0 ;
	width:200px;
}
nav {
	display:inline-block;
	margin:8px 0 0;
	padding:0;
	width:710px; 
	font-size:12px;
	color: #e8e8e8;
	font-family: 'Conv_HelveticaNeueCyr-Bold';
	text-align:center;
}
nav ul {
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	
}
nav ul li {
	display:inline-block;
	padding: 0 8px;
	background:url(../img/nav-border.png)right center no-repeat;
	height:30px;
	line-height:30px;
}

nav ul li a.active, nav ul li a:hover {
	background: radial-gradient(center, ellipse cover, #2F2F2F 33%, #2B2B2B 80%); 
background: -moz-radial-gradient(center, ellipse cover, #2F2F2F 33%, #2B2B2B 80%); 
background: -webkit-radial-gradient(center, ellipse cover, #2F2F2F 33%, #2B2B2B 80%); 
background: -o-radial-gradient(center, ellipse cover, #2F2F2F 33%, #2B2B2B 80%);
border-radius: 5px; 
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-bottom:#4b4b4b 1px solid;


height:30px;

}
nav ul li a {
	color:inherit;
	text-decoration:none;
	height:30px;
	line-height:30px;
	padding: 10px 14px;
}
